.textContainerTitle--textoquick {
    font-size: 18px;
}
.textContainerDescription--textoquick {
    font-size: 15px;
}
.componentContainer :global(.vtex-textarea__input){
    border: 1px solid rgb(189, 188, 188);
}
.categoryTitle--textoquick{
    font-size: 18px;
}
.componentContainer--textoquick{
    padding-bottom: 20px;
  }