.searchResultContainer{
    padding: 0;
    margin: 0;
}
.galleryTitle--layout{
    margin: 0 100px 0 100px;
    color: #333;
    font-size: 36px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
    display: block;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 21px;
    margin-bottom: 10px;
    padding-top: 9px;
}
.gallery {
    padding: 0;
}
.orderByText {
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    height: 30px;
    padding: 5px;
    color: #333;
    font-size: 13px;
    line-height: 30px;
}
.showingProducts {
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    height: 30px;
    padding: 5px;
    color: #333;
    font-size: 13px;
    line-height: 30px;
}
.filterMessage {
    font-size: 14px;
    font-weight: 700;
}

.filterTitle{
    color: black;
    font-weight: 700;
    font-size: 14px;
}

.categoryItemName{
    font-size: 14px;
    font-weight: 700;
    padding: 0 3px;
    color: black;
}

.categoryItemChildren {
    font-size: 14px;
    color: black;
}
.filterItem :global(.vtex-checkbox__label) {
    font-size: 12px;
    color: black;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.categoryItemChildrenContainer :global(.vtex__icon-close) {
    padding: 0 28px 0 0;
    color: black;
}
.filterItem :global(.vtex-checkbox__inner-container){
    border: 1px solid black;
}
.selectedCategoryName {
    padding: 0 10px;
    font-size: 12px;
    font-weight: 500;
}

.filterItem :global(.vtex__icon-check) {
    color: black;
    width: 10px;
    height: 10px;
}

.filterItem :global(.vtex-checkbox__box-wrapper) {
    width: 10px;
    height: 10px;
}
.filterItem :global(.vtex-checkbox__container) {
    width: 10px;
    margin: 4px 6px 0 0;
    height: 10px;
}
.filterItem :global(.vtex-checkbox__inner-container) {
    width: 10px;
    height: 10px;
}
.filterItem :global(.vtex-checkbox__line-container) {
    padding: 0 5px;
}
.caretIcon{
    color:black;
    width: 10px;
    height: 10px;
    padding: 0 15px 0 0;
}
.filter__container{
    border: 1px solid black;
    padding: 0 10px;
    border-radius: 10px;
    margin: 0 0 11px 0;
}
.filter__container--title{
    border: none;
}
.showingProducts {
    text-align: end;
}
.buttonShowMore :global(.vtex-button__label){
    background: #00ff99;
    color: black;
    padding: 10px 15px;
    font-weight: 700;
    border-radius: 6px;
    margin: 0 0 0 0;
    text-transform: uppercase;
}
.buttonShowMore--layout{
    margin: 40px 0 50px 0;
}
.searchResultContainer {
    max-width: 100%;
}
.buttonShowMore :global(.vtex-button__label){
    color: black !important;
}